<%- include('partials/header') %>





  <div class="text-center">
    <div class="">
      <div class="discoverer">
      <div class="discover_sc">
        <div>
          <i class="fas fa-user-secret  fa-5x "></i>

        </div>
        <div>
          <h1 class="display-8 txtdpth">You've Discovered Someone's Secret!</h1>

        </div>
      </div>

      <div class="discoverSecret">

        <div>
          <a class="btn btn-light btn-lg sbmt" href="/logout" role="button">Log Out</a>

        </div>
        <div class="sub_secret">
          <div>
            <a class="btn btn-dark btn-lg sbmt" href="/submit" role="button">Submit a Secret</a>

          </div>

        </div>
      </div>
      </div>

      <div class="bracket">
        <% usersWithSecrets.forEach(function(user){ %>
          <% let secrets=Array.isArray(user.secret) ? user.secret.reverse() : [user.secret]; %>
            <% secrets.forEach(function(singleSecret){ %>
              <div class="secret-card" data-secret="<%= singleSecret %>">
                <div class="sec_icon">
                  <i class="fas fa-ghost fa-lg" data-icon-secret="<%= singleSecret %>"></i>
                </div>
                <div class="sec_text">
                  <p class="secret-text">
                    <%= singleSecret %>
                  </p>
                </div>
              </div>
              <% }); %>
                <% }); %>
      </div>






      <hr>




    </div>
  </div>



  <%- include('partials/footer') %>